h1 {
  font-family: sans-serif;
}
h2 {
  color: blue;
}
p.important{
  color: white;
  font-weight: bold;
}
.fancy {
  font-family: serif;
  font-weight: bolder;
}
.ulshading {
  font-variant:small-caps;
  font-family: monospace;
  font-size: 20px;
}
.special {
  color: red;
}
img.main {
  float: left;
  margin: 12px;
  border: 4px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
}
p {
  background-color: lightblue;
}
.teal {
  background-color: lightgreen;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 30px;
  margin-left: 30px;
  border: 160px;
}
.well {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: lightblue;
  border: 5px solid red;
  border-radius: 4px;
}
